<div class="bar">
    <ul class="menu">
        <li class="menu-item"><a href="student/codecooler/" class="selected">Inventory</a></li>
        <li class="menu-item"><a href="student/store">Store</a></li>
        <li class="menu-item"><a href="student/incubator">Incubator</a></li>
        <li class="menu-item"><a href="student/quests">Quests</a></li>
        <li class="menu-item"><a href="student/transactionhistory/{{student.getId}}">Transaction</a></li>
    </ul>
</div>