<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

</head>

<body>
    <div class="form-container">
        <img src="../static/img/user.jpg" title="user" class="user-image">
        <img src="../static/img/codecool_logo.png" title="user" class="logo">
        <div class="greeting">
            <h2>Welcome to queststore!</h2>
        </div>
        <form action="login" method="POST" class="inputs-container">

            <div class="input">
                <input id="login" type="login" class="input" name="login" placeholder="Your login" required>

            </div>
            <div class="input">
                <input id="pass" type="password" class="input" name="pass" placeholder="Your password" required>
            </div>
            <input type="submit" class="login-button" id="login-button" name="submit" value="Sign in" >
            {% if error==true %}
                <p id="error">LOGIN FAILED<br>Try again!</p>
            {% endif %}
        </form>
    </div>
</body>

</html>