<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="../../static/css/admin_styles.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="../../static/js/validation.js"></script>
</head>

<body>
    <div class="content">
        <header>
            <div id="user">
                <a href="mentor"><img src="../../static/img/user.jpg" alt="avatar" ></a>
            </div>

            <div class="info">
                <div class="info-center">
                    <h1>Hello {{userName}}</h1>
                </div>
                <div class="info-top">
                    <a href="login"><img src="../../static/img/out.png" alt="logout" title="Log out"></a>
                </div>
            </div>
        </header>

        <div class="bar-content-block">
            <div class="bar">
                <ul class="menu">
                    <li class="menu-item"><a href="/admin">Mentors</a></li>
                    <li class="menu-item"><a href="/class" class="selected">Classes</a></li>
                    <li class="menu-item"><a href="/level">Levels</a></li>
                </ul>
            </div>

            <div class="content-block">
                <ul class="breadcrumb">
                    <li><a href="class">Class</a></li>
                    <li>Create class</li>
                </ul>
                <h1>Create new class!</h1>

                <form name="myform" method="post" action="#" onsubmit="return validateform();" >
                    <br/><br/>
                    Name: <input type="text" name="name"><br/>
                    Mentor:

                    {% for mentor in mentorList %}
                    <label class="container">{{mentor.getLastName}}
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    {% endfor %}
                   
                    <input class="button-create-class" type="submit" value="Create class">
                </form>
            </div>
        </div>

    </div>


    <footer>
        <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
        <p>MADD crew Production</p>
    </footer>
    </body>
</html>