<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Artifact</title>
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
<div class="content">
    <header>
        <div id="user">
            <a href="/mentor"><img src="../../static/img/mentor1.png" alt="avatar"></a>
        </div>
        <div class="info">
            <div class="info-center">
                <h1>Hello {{userName}}</h1>
            </div>
            <div class="info-top">
                <a href="login"><img src="../../static/img/out.png" alt="logout" title="Log out"></a>
            </div>
        </div>
    </header>

    <div class="bar-content-block">
        <div class="bar">
            <ul class="menu">
                <li class="menu-item"><a href="/mentor">students</a></li>
                <li class="menu-item"><a href="/quests">quests</a></li>
                <li class="menu-item"><a href="/artifacts" class="selected">artifacts</a></li>
            </ul>
        </div>
        <div class="content-block">
   <!--======================Breadcrumbs========================         -->
            <ul class="breadcrumb">
                <li>-> <a href="artifacts">Artifacts</a></li>
                <li>Add artifact</li>
            </ul>
            <h1>Add artifact</h1>

   <!--=====================Input Form for student creation================         -->
            <form action="create_quest" method="POST" class="input-form">
                <div class="row">
                    <div class="col-25">
                        <label for="name">Name of the Artifact*</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="name" name="name" placeholder="Artifact's name.." required>
                        <div id="err-name-fn"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="surname">Value of the Artifact*</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="surname" name="surname" placeholder="Artifact's value.." required>
                        <div id="err-surname-fn"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="standard">Type of the Artifact</label>
                    </div>
                    <div class="col-75">
                        <select id="standard" name="standard">
                            <option>basic</option>
                            <option>magic</option>
                        <div id="err-class-fn"></div>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-25">
                        <label for="description">Description of theArtifact*</label>
                    </div>
                    <div class="col-75">
                        <textarea id="description" name="description" placeholder="Describe of the Artifact*.."></textarea>
                    </div>
                </div>
                <div class="save-changes-button">
                    <input id="submit-button" type="submit" name="submit" value="Save">
                </div>
            </form>

        </div>
    </div>
</div>
<!-- ==========Modal Window===================================-->
<div id="modalWindow" class="modal-window">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Changes were submitted!</p>
    </div>

</div>
<!--=====================Footer=========================-->
<footer>
    <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
    <p>MADD crew Production</p>
</footer>
<script src="../../static/js/modal-script.js"></script>
</body>
</html>