<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="../../static/css/admin_styles.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="../../static/js/validation.js"></script>
</head>

<body>
<div class="content">
    <header>
        <div id="user">
            <a href="/admin"><img src="../../static/img/admin.png" alt="avatar" ></a>
        </div>

        <div class="info">
            <div class="info-center">
                <h1>Hello {{userName}}</h1>
            </div>
            <div class="info-top">
                <a href="/login"><img src="../../static/img/out.png" alt="logout" title="Log out"></a>
            </div>
        </div>
    </header>

    <div class="bar-content-block">
        <div class="bar">
            <ul class="menu">
                <li class="menu-item"><a href="mentor">Mentor</a></li>
                <li class="menu-item"><a href="mentor/class">Class</a></li>
                <li class="menu-item"><a href="mentor/level" class="selected">Level</a></li>
            </ul>
        </div>

        <div class="content-block">
            <ul class="breadcrumb">
                <li> <a href="/level">Level</a></li>
                <li>Create level</li>
            </ul>
            <h1>Create level!</h1>

            <form name="myform" method="post" action="#" onsubmit="return validateformLevel();" >

                Name: <input type="text" name="name"><p id="err-level-name"></p><br><br/>
                Experience: <input type="text" name="experience"><p id="err-level-exp"></p><br><br/>
                <input class="button-create-level" type="submit" value="Create level">

            </form>
        </div>
    </div>

</div>


<footer>
    <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
    <p>MADD crew Production</p>
</footer>
</body>
</html>