<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quest</title>
    <link rel="stylesheet" href="../../static/css/user_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
<div class="content">
    <header>
        <div id="user">
            <a href="/mentor"><img src="../../static/img/mentor1.png" alt="avatar"></a>
        </div>
        <div class="info">
            <div class="info-center">
                <h1>Hello {{userName}}</h1>
            </div>
            <div class="info-top">
                <a href="login"><img src="../../static/img/out.png" alt="logout" title="Log out"></a>
            </div>
        </div>
    </header>
    <div class="bar-content-block">
        <div class="bar">
            <ul class="menu">
                <li class="menu-item"><a href="mentor/mentor-top">students</a></li>
                <li class="menu-item"><a href="mentor/mentor-quests" class="selected">quests</a></li>
                <li class="menu-item"><a href="mentor/mentor-artifacts">artifacts</a></li>
            </ul>
        </div>
        <div class="content-block">
            <ul class="breadcrumb">
                <li>-> <a href="mentor/mentor-quests">Quests</a></li>
                <li>Add quest</li>
            </ul>
            <h1>Add quest</h1>
            <form class="input-form">
                <div class="row">
                    <div class="col-25">
                        <label for="name">Name of the Quest*</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="name" name="name" placeholder="Quest's name.." required>
                        <div id="err-name-fn"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="surname">Value of the Quest*</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="surname" name="name" placeholder="Quest's value.." required>
                        <div id="err-surname-fn"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="standard">Basic</label>
                    </div>
                    <div class="col-75">
                        <input type="radio" name="type" id="standard" value="basic" checked>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="magic">Extra</label>
                    </div>
                    <div class="col-75">
                        <input type="radio" name="type" id="magic" value="extra">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="description">Description of the Quest</label>
                    </div>
                    <div class="col-75">
                        <textarea id="description" name="description" placeholder="Describe the Quest.."></textarea>
                    </div>
                </div>
            </form>
            <form class="save-changes-button" id="button-follow-modal" onsubmit="return false">
                <input id="submit-button" type="submit" name="submit" value="Save">
            </form>
        </div>
    </div>
</div>
<!-- ==========Modal===================================-->
<div id="modalWindow" class="modal-window">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Changes were submitted!</p>
    </div>

</div>
<footer>
    <a href='https://www.freepik.com/free-vector/assorted-user-avatars-collection_851876.htm'>Designed by Freepik</a>
    <p>MADD crew Production</p>
</footer>
<script src="../../static/js/modal-script.js"></script>
</body>
</html>